{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Main Sidebar Container -->
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
          
          <!-- /.card -->

          <div class="card ">
            <div class="card-header">
              <h3 class="card-title2">Health-Check Report:  {{ date }}  &nbsp;&nbsp;&nbsp;&nbsp; {{ info }}&nbsp;&nbsp;&nbsp;&nbsp; Site: {{ site_info }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!--a href="/logs/{{ logfile }}" class="fas fa-square text-primary" >Detailed-Logs</a></h3-->
              <a href="/logs/{{ logfile }}" target="popup" 
  onclick="window.open('/logs/{{ logfile }}','popup','width=800,height=600'); return false;" class="fas fa-square text-primary" >Detailed-Logs</a></h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body col-md-12">
              <!--table id="example1" class="table table-bordered table-striped"-->
            {% if monitor_records %}
              <!--table id="example1" class="table table-bordered table-hover" style="width:100%"-->
              <table id="example1" class="table table-bordered table-hover" >
                <thead>
                <tr>
                  <th>TestId</th>
                  <th>Description</th>
                  <th>Severity</th>
                  <th>IpAddress</th>
                  <th>Hostname</th>
                  <th>Command</th>
                  <th>Verdict</th>
                  <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr>
              {% for it in monitor_records %}
                 <td>{{ it.test_id }}</td>
                 <td>{{ it.desc }}</td>
                 <td>{{ it.severity }}</td>
                 <td>{{ it.ipaddr }}</td>
                 <td>{{ it.hostname }}</td>
                 <td>{{ it.command }}</td>
                 {% if "Passed" in it.verdict %} 
                 <td class="badge badge-success">{{ it.verdict}}</td>
                 {% elif "Failed Positive" in it.verdict %} 
                 <td class="badge badge-warning">{{ it.verdict}}</td>
                 {% else %}
                 <td class="badge badge-danger">{{ it.verdict}}</td>
                 {% endif %}
                 <td>{{ it.remarks }}</td>
                </tr>
             {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>TestId</th>
                  <th>Description</th>
                  <th>Severity</th>
                  <th>IpAddress</th>
                  <th>Hostname</th>
                  <th>Command</th>
                  <th>Verdict</th>
                  <th>Remarks</th>
                </tr>
                </tfoot>
              </table>
            {% endif %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->



<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
       fixedHeader: {
            header: true,
            footer: true
       }
    });
  });



</script>
{% endblock %}
