{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <style> 
  .highlight{
    background-color:lightblue;
    }
</style>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
          
          <!-- /.card -->

          <div class="card ">
            <div class="card-header">
              <h3 class="card-title2">Health-Check Report:&nbsp;&nbsp;&nbsp;&nbsp;{{ date }}&nbsp;&nbsp;&nbsp;&nbsp;{{site}}</h3>
              <button id="button1" class="btn btn-outline-primary align-self-end" title="Add Selected Testacase as Failed Positive">Mark Fail Positive</button> 
              <button id="button4" class="btn btn-outline-primary align-self-end" title="Add Selected TestCases as Ignore" >Mark Ignore</button> 
              <button id="button2" class="btn btn-outline-success align-self-end" title="Unslect the selected Testcases" style="position: absolute; right:50%">Unselect</button> 
              <button id="button3" class="btn btn-outline-dark align-self-end" title="View Marked Ignore" style="position: absolute; right: 5px;border-radius: 25px;">View I</button> 
              <button id="button5" class="btn btn-outline-dark align-self-end" title="View Marked Failed Positive" style="position: absolute; right: 20%;border-radius: 25px;">View F</button> 
              <!--input id="button1" type="button"  class="btn btn-outline-primary align-self-end" value="Add Failed Positive" style="position: absolute;top:20%;right:20px"-->
            </div>
            <!-- /.card-header -->
            <div class="card-body col-md-12">
              <!--table id="example1" class="table table-bordered table-striped"-->
            {% if monitor_records %}
              <!--table id="example1" class="table table-bordered table-hover" style="width:100%"-->
              <table id="example1" class="table table-bordered " >
                <thead>
                <tr>
                  <th>TestId</th>
                  <th>Description</th>
                  <th>Severity</th>
                  <th>IpAddress</th>
                  <th>Hostname</th>
                  <th>Command</th>
                  <th>Verdict</th>
                  <th>Remarks</th>
                </tr>
                </thead>
                <tbody>
                <tr>
              {% for it in monitor_records %}
                 <td>{{ it.test_id }}</td>
                 <td>{{ it.desc }}</td>
                 <td>{{ it.severity }}</td>
                 <td>{{ it.ipaddr }}</td>
                 <td>{{ it.hostname }}</td>
                 <td>{{ it.command }}</td>
                 {% if "passed" in it.verdict|lower %} 
                 <td><span class="badge badge-success">{{ it.verdict}}<span></td>
                 {% elif "false positive" in it.verdict|lower %} 
                 <td><span class="badge badge-info">{{ it.verdict}}<span></td>
                 {% elif "ignore" in it.verdict|lower %} 
                 <td><span class="badge badge-secondary">{{ it.verdict}}<span></td>
                 {% elif "failed" in it.verdict|lower %} 
                 <td><span class="badge badge-danger">{{ it.verdict}}<span></td>
                 {% else %}
                 <td><span class="badge badge-light">{{ it.verdict}}</span></td>
                 {% endif %}
                 <td>{{ it.remarks }}</td>
                </tr>
             {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>TestId</th>
                  <th>Description</th>
                  <th>Severity</th>
                  <th>IpAddress</th>
                  <th>Hostname</th>
                  <th>Command</th>
                  <th>Verdict</th>
                  <th>Remarks</th>
                </tr>
                </tfoot>
              </table>
            {% endif %}
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<!-- Bootstrap 4 -->
<!-- DataTables -->
<!-- AdminLTE App -->





<!-- page script -->
<script>
  $(function () {
    var table = $("#example1").DataTable({
        fixedHeader: {
             header: true,
             footer: true
        },
    oLanguage: {
       sLengthMenu: "Show Entries_MENU_ " },
    //"aLengthMenu": [[10, 25, 50, 75, -1], [25, 50, 75, "All"]],
    //"pageLength": 10,
//    dom: 'lfrBtip',
//dom: 'frBtlip',
dom:
			"<'row'<'col-sm-3'l><'col-sm-6'f><'col-sm-3 right-aligned'B>>" +
			"<'row'<'col-sm-12'tr>>" +
			"<'row'<'col-sm-5'i><'col-sm-7'p>>",
    //dom: 'lfrtip',
        buttons: [
//            'copy', { extend:'csv',messageTop: 'Date: {{date}}' }, { extend:'excel',messageTop: 'Date: {{date}}' }, { extend:'pdf',messageTop: 'Date: {{date}}' }, { extend:'print',messageTop: 'Date: {{date}}' }
{
     extend: 'collection',
            text: 'Export',
            //buttons: [ 'csv', 'excel', 'pdf' ]
            buttons: [
            'copy', { extend:'csv',messageTop: 'Date: {{date}}' }, { extend:'excel',messageTop: 'Date: {{date}}' }, { extend:'pdf',messageTop: 'Date: {{date}}',pageSize : 'A3' }, { extend:'print',messageTop: 'Date: {{date}}' } ]
}
        ],
    });

  $('#example1 tbody').on( 'click', 'tr', function () {
      $(this).toggleClass('highlight');
  } );

  $('#button2').click( function () {
     table.rows('.highlight').every(function() {
     this.nodes().to$().removeClass('highlight')
   })
 });

  $('#button1').click( function () {
        var data = table.rows('.highlight').data().toArray()
        var obj = Object.assign({},data)
        if ( data.length == 0 ){
         return alert('0 rows(s) Selected');
         }
        for( var i=0; i<data.length; i++)
         {
          item = data[i]
          verdict = $(item[6]).text()
          severity = item[2] 
        
          if (verdict.toLowerCase() != "failed")
               {
                if (severity.toLowerCase() != "warning") {
                alert(data.length + 'row(s) Selected' + "\nError...!!  Select Failed/Warning Testcases only to mark them as \"False Positive\".")
                return 1
               }
              }
         }
         
       // alert( data.length  +' row(s) selected' );
     console.log(obj)
     $.ajax({
     url : "/failed_positive_n_ignore",
     type : "POST",
     dataType: "json",
     data: { dat : JSON.stringify(obj), site: '{{site}}', type: 'fail',
           'csrfmiddlewaretoken': '{{ csrf_token }}'},
     async: false,
     success: function(json) {
        alert('False-Positive Data Saved Successfully.!!\nFuture Health-Checks  Will Be Filtered With False-Positive Data');
     },
     failure: function(json) {
      alert('Got an error dude: Contact Support Team.!!');
     },
      statusCode: {
       500: function() {
      alert("Something Went Wrong Contact Support Team.!!");
      }
     },
    });

    } );


  $('#button5').click( function () {
  $('#button5').html("<span class=\"spinner-grow spinner-grow-sm\"></span>Loading")
  //$('body').load('list_failed_positive')
  location.replace('list_failed_positive')
  });
  $('#button3').click( function () {
  $('#button3').html("<span class=\"spinner-grow spinner-grow-sm\"></span>Loading")
  //$('body').load('list_ignore')
  location.replace('list_ignore')
  });

  $('#button4').click( function () {
        var data = table.rows('.highlight').data().toArray()
        var obj = Object.assign({},data)
        if ( data.length == 0 ){
         return alert('0 rows(s) Selected');
         }
        for( var i=0; i<data.length; i++)
         {
          item = data[i]
          verdict = $(item[6]).text()
          severity = item[2]
          console.log(severity)
       //alert( data.length  +' row(s) selected' );
         if (verdict.toLowerCase() != "failed")
               {
                if (severity.toLowerCase() != "warning") {
                alert(data.length + 'row(s) Selected' + "\nError...!!  Select Failed/Warning Testcases only to mark them as \"False Positive\".")
                return 1
               }
              }
         }
     console.log(obj)
     $.ajax({
     url : "/failed_positive_n_ignore",
     type : "POST",
     dataType: "json",
     data: { dat : JSON.stringify(obj), site: '{{site}}', type: 'ignore',
           'csrfmiddlewaretoken': '{{ csrf_token }}'},
     async: false,
     success: function(json) {
        alert('Ignore-Test Data Saved Successfully.!!\nFuture Health-Checks  Will Be Filtered With Ignore Data');
     },
     failure: function(json) {
      alert('Got an error dude: Contact Support Team.!!');
     },
      statusCode: {
       500: function() {
      alert("Something Went Wrong Contact Support Team.!!");
      }
     },
    });

    } );

  });
</script>

{% endblock %}
