{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content-wrapper">
 <!--div class="row"-->
   <div class="card ">
     <div class="card-header">
     <h3>Adhoc Health-Check Execution</h3>
     </div>
     <div class="card-body">
      <div clas="update">
        <button id="kk" type="submit">Execute Script</button>
     </div>
     </div>
     <!-- Image loader -->

<div id='loader' style='display: none;'>
  <img src={% static 'img/loading.gif' %} width='132px' height='132px'>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" style="width: 75%"></div>
</div>
<!-- Image loader -->
  <ul>
    {% for obj in data %}
      <li>
        <a href="execute1_result?id={{ obj.timestamp }}">Link</a>
        <small>(Executed at: {{ obj.timestamp_str }})</small>
        {% if obj.status == 'started' %}
        <img src={% static 'img/loading.gif' %} width='50px' height='25px'>
        {% endif %}
        {% if obj.status == 'passed' %}
        <small class="badge badge-success">Passed</small>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
 </div>
  <!--/div-->

<div class="card">
  <h5 class="card-header">Featured</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


</div>
<script>

$('#kk').click(function(){
  //$('.card-body').html('<h3>Script Executing...Hold On!!!!</h3>')
  //$("#loader").show()
  var timestamp = $.now()
  var d = new Date(timestamp)
  var timestamp_str = d.getDate()+"-"+(d.getMonth() + 1)+"-"+d.getFullYear()+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()+','+d.getMilliseconds()
  $('body').load('execute1',{'timestamp':timestamp,'timestamp_str':timestamp_str})
});

setInterval(function(){location.reload(true);},60000)

</script>
{% endblock %}
