{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="content-wrapper">
 <div class="row">
   <div class="card ">
     <div class="card-header">
     </div>
     <div class="card-body col-md-12">
       <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <button id="kk" type="submit">Check-Report</button>
       </form>
     </div>
  </div>
 </div>
</div>
<script>
$('#kkm').click(function(){
  $('.card-body').html('<h3>Script Executing...Hold On!!!!</h3>')
  $('body').load('sample_report',{file: 'as'})
});
</script>
{% endblock %}
